body {
    margin: 0;
    background-color: black;
}

header {
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url(./IMGS/urna.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 90px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    width: 100%;
}

.containerFuerzas p {
    position: absolute;
    color: white;
    margin: 5px 5px;
    top: 0;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
}


header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Estilos generales de las fuerzas */

.UxP,
.Juntos,
.LLA,
.FIT,
.PyV,
.MAS {
    width: 30%;
    padding: 10px;
}

.containerFuerzas {
    display: flex;
    justify-content: space-around;
}

.containerFuerzas h3 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.containerFuerzas h1 {
    margin: 0;
    display: flex;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 72px;
}

.totalJuntos, 
.totalUxP, 
.totalLLA, 
.totalFIT, 
.totalPyV, 
.totalMAS {
    border-radius: 25px;
    margin-top: 10px;
    width: 100%;
    height: 150px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.internaJuntos,
.internaUxP,
.internaLLA,
.internaFIT,
.internaPyV,
.internaMAS {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    height: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border: 2px solid white;
}

/* Detalles estilos por fuerza en particular*/

.totalJuntos,
.internaJuntos {
    background-color: yellow;
    color: black;
    border: 2px solid white;
}

.totalUxP,
.internaUxP {
    background-color: cornflowerblue;
    color: white;
    border: 2px solid white;
}

.totalLLA,
.internaLLA {
    background-color:aquamarine;
    color:darkslateblue;
    border: 2px solid white;
}

.totalFIT,
.internaFIT {
    background-color: red;
    color: white;
    border: 2px solid white;
}

.totalPyV,
.internaPyV {
    background-color:darkblue;
    color: white;
    border: 2px solid white;
}

.totalMAS,
.internaMAS {
    background-color: white;
    color: red;
    border: 2px solid white;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 15px;
    border-style: none;
    position: absolute;
    top: 85%;
    transform: translateY(-50%);
    font-size: 24px;
    height: 12%;
}

.Galli,
.Dalton,
.Spina,
.Wesner,
.Parra,
.Rodríguez,
.Arouxet,
.Mestralet,
.Aguirre,
.Schmale {
    flex-grow: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

.Galli::before,
.Dalton::before,
.Spina::before,
.Wesner::before,
.Parra::before,
.Rodríguez::before,
.Arouxet::before,
.Mestralet::before,
.Aguirre::before,
.Schmale::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.Galli {
    background-image: url(./IMGS/4Galli.jpg);
    width: 33%;
}

.Galli button {
    background-color: yellow;
    color: black;
    width: 66%;
}

.Dalton {
    background-image: url(./IMGS/dalton.jpg);
    width: 33%;
}

.Dalton button {
    background-color: yellow;
    color: black;
    width: 66%;
}

.Spina {
    background-image: url(./IMGS/spina.jpg);
    width: 33%;
}

.Spina button {
    background-color: yellow;
    color: black;
    width: 66%;
}

.Wesner {
    background-image: url(./IMGS/1Wesner.jpg);
    width: 33%;
}

.Wesner button {
    background-color: cornflowerblue;
    color: white;
    width: 66%;
}

.Parra {
    background-image: url(./IMGS/2Parra.jpg);
    width: 33%;
}

.Parra button {
    background-color: cornflowerblue;
    color: white;
    width: 66%;
}

.Rodríguez {
    background-image: url(./IMGS/3Rodríguez.jpg);
    width: 33%;
}

.Rodríguez button {
    background-color: cornflowerblue;
    color: white;
    width: 66%;
}

.Arouxet {
    background-image: url(./IMGS/ArouxetH.jpg);
    width: 100%;
}

.Arouxet button {
    background-color:aquamarine;
    color:darkslateblue;
    width: 25%;
}

.Mestralet {
    background-image: url(./IMGS/AgusSolano.jpg);
    width: 100%;
}

.Mestralet button {
    background-color: red;
    color: white;
    width: 25%;
}

.Aguirre {
    background-image: url(./IMGS/Aguirre.jpg);
    width: 100%;
}

.Aguirre button {
    background-color: darkblue;
    color: white;
    width: 25%;
}

.Schmale {
    background-image: url(./IMGS/Schmale.jpg);
    width: 100%;
}

.Schmale button {
    background-color:white;
    color: red;
    width: 25%;
}

footer {
    margin-top: 10px;   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #783C90;
    color: white;
    height: 150px;
}

#logoFuente {
    float: left; 
    height: 75%; 
    width: auto;
}

footer p {
    font-size: 32px;
}

/* Para versión móvil */

@media (max-width: 883px) {

    header {
        height: 300px;
    }

    header h1 {
        font-size: 60px;
    }

    .UxP,
    .Juntos,
    .LLA,
    .FIT,
    .PyV,
    .MAS {
        width: 100%;
    }

    .containerFuerzas {
        flex-wrap: wrap;
    }

    .containerFuerzas p {
        font-size: 18px;
        font-weight: bold;
}
}

@media screen and (min-width: 883px) and (max-width: 1178px) {
    .containerFuerzas button {
        width: 80%;
    }
  }
